<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 一些配置 -->
    <util:properties id="hashProperties">
        <!-- 使用的hash算法 -->
        <prop key="hashAlgorithmName">MD5</prop>
        <!-- hash迭代次数(就是对产生的md5再次加密) -->
        <prop key="hashIterations">2</prop>
    </util:properties>

    <!-- 配置缓存管理器 -->
    <bean name="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
    </bean>

    <!-- 配置credentialsMatcher(密码匹配器) -->
    <bean name="credentialsMatcher" class="cn.clboy.demo.shiro.spring.credentials.RetryLimitHashedCredentialsMatcher">
        <property name="cacheManager" ref="cacheManager"/>
        <!-- 最大重试次数 -->
        <property name="maxRetryLimit" value="5"/>
        <property name="hashAlgorithmName" value="#{hashProperties.hashAlgorithmName}"/>
        <property name="hashIterations" value="#{hashProperties.hashIterations}"/>
        <property name="passwordRetryCacheName" value="passwordRetryCache"/>
    </bean>

    <!-- 配置realm -->
    <bean name="userRealm" class="cn.clboy.demo.shiro.spring.relam.UserRealm">
        <property name="userService" ref="userService"/>
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- sessionDao -->
    <bean name="sessionDAO" class="cn.clboy.demo.shiro.spring.session.MySessionDAO">
        <property name="sessionMapper" ref="sessionMapper"/>
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
    </bean>

    <!-- 定期的验证会话是否已过期 -->
    <bean name="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="interval" value="#{1000*30*5}"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- session监听器 -->
    <bean name="sessionListener" class="cn.clboy.demo.shiro.spring.listener.DemoSessionListener"/>

    <!-- session管理器-->
    <bean name="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="globalSessionTimeout" value="#{1000*60*10}"/>
        <!-- 设置Cookie名字，默认为JSESSIONID -->
        <property name="sessionIdCookie.name" value="sid"/>
        <!-- 表示浏览器关闭时失效此 Cookie 默认也是—1，测试remember-->
        <property name="sessionIdCookie.maxAge" value="-1"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionListeners" ref="sessionListener"/>
    </bean>

    <!-- rememberMe管理器 -->
    <bean name="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- 默认SimpleCookie,cookie名为rememberMe-->
        <property name="cookie.name" value="token"/>
        <!-- 过期时间30天，默认一年 -->
        <property name="cookie.maxAge" value="#{3600*24*30}"/>
        <!-- 设置密钥，密钥长度支持（16/24/32）-->
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('7jTQxw//pkbYKhiLzrhOvQ==')}"/>
    </bean>

    <!-- name如果和默认的filtername一致就会替换默认的-->
    <bean name="logout" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/"/>
    </bean>

    <!-- 配置securityManager -->
    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="userRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!-- 配置shiroFilter -->
    <bean name="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/index.html"/>
        <property name="unauthorizedUrl" value="/unauthorized.html"/>
        <!-- 对应ini配置中的urls部分-->
        <property name="filterChainDefinitions">
            <value>
                /login=authc
                /logout=logout
                /admin/user/users=anon
                /admin/**=user,roles[admin]
            </value>
        </property>
    </bean>
</beans>