<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="cn.clboy.demo.shiro.spring.web"/>
    <mvc:annotation-driven/>

    <!-- 开启shiro注解 要在web配置文件中配置，作用于controller-->
    <!-- 指定使用cglib代理 -->
    <aop:config proxy-target-class="true"/>

    <!-- 配置shiro框架提供的切面类，用于创建代理对象 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!-- 静态资源过滤 -->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/*.html" location="/"/>

    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- 不要配置prefix,因为templateLoaderPath已经指定了-->
        <property name="suffix" value=".ftl"/>
        <!-- 不设置会乱码 -->
        <property name="contentType" value="text/html;charset=utf-8"/>
    </bean>
</beans>